LKFPOWERVIEWSENGINELOGINUSER="example@info-sync.com"
LKFPOWERVIEWSENGINELOGINAPIKEY=yoursecretapikey
LKFPOWERVIEWSENGINEMONGOURL="mongodb://user:pass@host:port/admin"
LKFPOWERVIEWSENGINECOUCHURL=https://user:pass.@host
